// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-title{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid $theme-color;
}

.product-card{
   margin-bottom:10px;
}
.product-link, .product-link:hover{
    text-decoration: none;
    color:inherit;
}
.card-img-top{
    min-height: 200px!important;
    max-height: 200px!important;
    overflow: hidden;
    background-color: $img-placeholder-color;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}

.buy-btn{
    min-width: 100%!important;
    border-radius: 0px;
}
a .btn-primary, .btn-primary{
    background-color: $theme-color;
    border-color:  $theme-color;
}

a .btn-primary:hover, .btn-primary:hover{
    background-color: $theme-darkest-color;
    border-color:  $theme-darkest-color;
}
.text-primary{
    color: $theme-color!important;
}

.product-list-card, .product-list-card .row{
    align-items: center;
}

.flexed{
    display:flex; 
    align-items:center;
    justify-content:center;
}

.v-flex{
    display:flex; 
    flex-direction: column;
}

.h-flex{
    display:flex; 
    justify-content:center;
}
.list-img img{
    background-color: $img-placeholder-color;
}

.page-item.page-link {
    color:$theme-darkest-color;
}
.page-item.active .page-link {
    background-color:$theme-color!important;
    border-color: $theme-color!important;
    color:#ffffff;
}