// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-title{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid $theme-color;
}

.product-card{
   margin-bottom:10px;
}
.card-img-top{
    min-height: 250px!important;
    max-height: 250px!important;
    background-color: $img-placeholder-color;
}
.buy-btn{
    min-width: 100%!important;
    border-radius: 0px;
}
a .btn-primary, .btn-primary{
    background-color: $theme-color;
    border-color:  $theme-color;
}

a .btn-primary:hover, .btn-primary:hover{
    background-color: $theme-darkest-color;
    border-color:  $theme-darkest-color;
}
.text-primary{
    color: $theme-color!important;
}
